html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
}

@media (max-width:480px) {
  .container {
    padding: 0 20px ;
  }
}



.globus {
  cursor: pointer;
  display: flex;
  max-width: 92px;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 70px;
}

.globus h1 {
  font-size: 20px;
  color: #4468e2;
}


nav {
  max-width: 598px;
}

.main-header {
  padding-top: 21px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 auto;
  font-weight: bold;
}

.main-header ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:480px) {
  .main-header ul, .Navigation-Map {
    display: none;
  }

  .copyright {
    margin-left: 0;
  }

  .globus {
    margin-left: 0;
  }
}

.connect {
  max-width: 104px;
  /* margin: 0 auto ; */
  background-color: #4468e2;
  border-radius: 30px;
}

.conectH1 {
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  padding: 8px;
  z-index: 900;
}
.conectH1:hover {
  
  font-weight: bold;
}

header li {
  font-size: 22px;
  font-weight:lighter;
  cursor: pointer;
  margin-left: 20px;
  justify-content: space-between;
  /* color: #4468e2; */
  
}

header li:hover {
  font-size: 30px;
  color: #4468e2 ;
}


.banner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  height: 608px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: slider 2s 1; */
  background-image:  url("./imgs/lalo-hernandez-Amo081zdJsI-unsplash.png");
}



@keyframes slider {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.30;
  }
  75% {
    opacity: 0.15;
  }
}

.banner-content {
  max-width: 876px;
  width: 100%;
  margin: 0 auto;
  z-index: 900;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 900;
  cursor: pointer;
  padding: 20px;
}

@media (max-width:480px) {
  .banner-content h1 {
    font-size: 20px;
    color:aqua;
  }
  .banner-text h3 {
    display: flex;
    flex-direction: column;
    font-size: 5px;
    color: #163235;
    align-items: center;
  }

}

.banner-content h1 {
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color:white
}



.banner-text {
  padding-top: 39px;
  width: 522px;
  width: 100%;
  /* height: 98px; */
  margin-bottom: 39px;
}

@media (max-width:480px) {
  .Navigation-Map li {
    font-size: 10px;
  }
}

.banner-text h3 {
  font-size: 23px;
  color: #ffffff;
}

.overlay {
  animation-name:slider;
  animation-iteration-count: infinite;
  animation-direction: normal, reverse;
  animation-duration: 5s ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.28 ;
  z-index: 500;
  position: absolute;
}

.banner,
.overlay {
  border-radius: 20px;
}

.booking-navigation {
  max-width: 876px;
  width: 100%;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  background-color: rgba(255, 255, 255, 0.8);  
  border-radius: 10px;
  padding: 17px;
}

@media (max-width:480px) {
  .booking-navigation {
    display: flex;
    flex-direction: column;
  }
}


.booking-navigation h1 {
  
  display: flex;
  font-size: 15px;
  color: #151515;
}

.choose-place, .checkin, .checkout  {
  display: flex;
  justify-content: space-around;
  width: 191px;
  height: 51px;
  align-items: center;
  flex-direction: column;
  
  
}

.choose-place h6 {
  color: #7e7e7e;
  
}





.explore {
  display: flex;
  justify-content: center;
  width: 187px;
  height: 51px;
  align-items: center;
  text-align: center;
  background-color: #4468e2;
  color: #ffffff;
  font-size: 21px;
  border-radius: 5px;
  opacity: 0.9;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  flex-direction: row;
}

.features {
  margin-top: 50px;
}

@media (max-width:480px) {
  .row{
    flex-direction: column;
  }
}

.section-1 {
  max-width: 369px;
  width: 100%;
  height: 293.4px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}

.section-1
 {
  font-size: 24px;
  color: #0f0f0f;
  /* margin-bottom: 50px; */
  margin: 0 auto;
}

.img1
{
  max-width: 103px;
  height: 97px;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 39px;
}

section h3 {
  margin-bottom: 20px;
}

.Recommended-Destination {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  /* height: 1860.48px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 176.3px;
}

@media (max-width:480px) {
  .Recommended-Destination {
    display: flex;
    flex-direction: column;
    height: none;
  }
}


.Recommended-Destination-1 {
  max-width: 1760px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}

.Recommended-Destination-1 h1 {
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.Recommended-Destination-1 h1:hover {
  color:#163235;
  font-size: 50px;
  
}


.Navigation-Map {
  max-width: 1201.5px;
  width: 100%;
  height: 48.5px;
  margin-top: 79px;
}

.Recommended-Destination-1 ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Recommended-Destination-1 li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 26px;  
  cursor: pointer;
}

.Recommended-Destination-1 li:hover {
  border-bottom: 5px solid black;
  color:#4468e2;
}



.Navigation-Map li {
  font-size: 10px #000000;
}

/* .Navigation-Map li:first-child {
  border-bottom: 5px solid black;
} */

.recommended-cities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.cities-row {
  gap: 73px;
}

.city {
  display: flex;
  flex: 1;
  /* justify-content: space-evenly; */
  color: #163235;
  flex-direction: column;
}

.city-header {
  margin-top: 11px;
}

.img-wrapper {
  width: 100%;
  height: 398px;
  border-radius: 15px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-content {
  margin-top: 15px;
}

.city-content h1 {
  font-size: 38px;
  margin-bottom: 14px;
  font-weight: 600;
}

.city-content h6 {
  font-size: 26px;
  line-height: 35px;
}

.city-footer {
  width: 100%;
  margin-top: 18px;
}

.price-row,
.booking-info {
  display: flex;
  justify-content: space-between;
}

.booking-info {
  margin-top: 12px;
  font-size: 22px;
}

.price-row h3 {
  font-size: 31px;
  font-weight: 600;
}

.Price {
  max-width: 552px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


.blogs {
  /* padding-top: 100px; */
  max-width: 1789px;
  height: 713px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* flex-direction: column; */  
  margin: 0 auto;
}

@media (max-width:480px){
  .blogs {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
 
}

.blogs-part1 {
  position: relative;
  max-width: 965px;
  width: 100%;
  height: 587px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-image: url("./imgs/NoPath.png");
  flex-direction: column;
  border-radius: 5px;
  
}

.overlay-kilimanjaro {

  animation-name:slider;
  animation-iteration-count: infinite;
  animation-direction: normal, reverse;
  animation-duration: 5s ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.;
  z-index: 500;
  position: absolute;
  border-radius: 5px;

}



.the-ultimate-h1 {
  max-width: 468px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;  
  color: aliceblue;
  font-size: 50px;
  font-weight: bold;
  flex-direction: column;
}

.blogs-part2 {
  max-width: 965px;
  width: 100%;
  height: 587px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:33px;
}


.new-traveler {
  position: relative;
  width: 785px;
  height: 277px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./imgs/eva-darron-oCdVtGFeDC0-unsplash.png")

}


.female-travel {
  position: relative;
  width: 785px;
  height: 277px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./imgs/ibrahim-rifath-Y6tBl0pTe-g-unsplash.png);
}

.things-12{
  width: 360px;
  height: 94px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;  
  color: aliceblue;
  font-size: 35px;
  font-weight: bold;
  flex-direction: column;
}

.happy-customers {
  max-width: 1914px;
  width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:480px) {
  .happy-customers {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
  }
}





.happy-customers header {
  font-size: 40px black;
  font-weight: bold;

}

.container-lorem {
  
  max-width: 1914px;
  width: 100%;
  /* height: 417px; */
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-top:60px;
}

@media (max-width:480px) {
  .container-lorem, .happy-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .lorem-p,.lorem-p p {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    overflow: hidden;
  }
 
}

.lorem {
  /* height: 417px; */
  display: flex;
  flex-direction:column;  
  /* justify-content: space-between; */
}


.lorem-p {
  max-width: 805px;
  width: 100%;
  /* height: 196px; */
  display: flex; 
  justify-content: space-around; 
 
}

.lorem-p p {
  max-width: 600px;
  font-size: 26px;

  /* font-weight: bold; */


}

@media(max-width:480px) {
  .lorem1{
    display:none
  }
}


.metro-quote {
  width: 50px;
  height: 40px;
}

.metro-quote img {
  width: 100%;
}

.shalin-singh {  
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shalin-img {
  width:70px ;
  height: 70px;
}
.project-maneger {
  width: 301px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

footer {
  max-width: 1780px;
  width: 100%;
  height: 178px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 115px; ;
  background-color: #E1E8F8;
  border-radius: 2%;   
}

@media (max-width:480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin: 0 auto;
  }
}


footer ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width:480px) {
    .footer li{
      display: flex ;
      flex-direction: column;
  }
}

footer li {
  width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;  
}

footer li:hover {
  font-size: 22px;
  color: chocolate;
}

.logo-links {
  display: flex;
  gap: 10px;
}


